<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--base url for ADO-->
    <add key="BaseUrl" value="https://dev.azure.com" />
    <!--ADO collection name-->    
    <add key="Collection" value="Harrods" />
    <!--project name in ADO-->
    <add key="Project" value="SVC - Single View Customer" />
    <!--<add key="Project" value="Farfetch" />-->
    <!--project short key-->
    <!--<add key="ProjectKey" value="DGTF" />-->
    <add key="ProjectKey" value="HT" />
    <!--ADO user authorization key-->
    <add key="Authorization" value="t3vttmji5zhvbypt3gfb6hc2oykgh4vf2jru63422fvwhahcij4q" />
    <!--<add key="Authorization" value="4lhaaenoouj6g7m4hrs3j6gj5g3fn3ohm6o5pxmrloijwhg4rj2a" />-->
    <!--Test plan name as in ADO-->
    <!--<add key="TestPlan" value="SAPAutomation" />-->
    <add key="TestPlan" value="SVC Regression" />
    <!--Test plan suite as in ADO-->
    <!--<add key="TestSuite" value="SAPDC44" />-->
    <add key="TestSuite" value="Automated Smoke" />
    <!--Set true to enable the create defect in ADO for failure scenarios-->
    <add key="Defect" value="false" />
    <!--Set true to enable the update execution & test steps status in ADO-->
    <add key="Status" value="false" />

    <!--Set true to add screenshots on steps in ADO-->
    <add key="Screenshot" value="true" />

  </appSettings>
</configuration>
