<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BoDi" version="1.4.1" targetFramework="net461" />
  <package id="Cucumber.Messages" version="6.0.1" targetFramework="net461" />
  <package id="Gherkin" version="6.0.0" targetFramework="net461" />
  <package id="Google.Apis" version="1.45.0" targetFramework="net461" />
  <package id="Google.Apis.Auth" version="1.45.0" targetFramework="net461" />
  <package id="Google.Apis.Core" version="1.45.0" targetFramework="net461" />
  <package id="Google.Apis.Gmail.v1" version="1.45.0.1950" targetFramework="net461" />
  <package id="Google.Protobuf" version="3.7.0" targetFramework="net461" />
  <package id="log4net" version="2.0.8" targetFramework="net461" />
  <package id="MailKit" version="2.6.0" targetFramework="net461" />
  <package id="Microsoft.TestPlatform.TestHost" version="17.3.2" targetFramework="net461" />
  <package id="MimeKit" version="2.6.0" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net461" />
  <package id="NPOI" version="2.4.1" targetFramework="net461" />
  <package id="Portable.BouncyCastle" version="1.8.5" targetFramework="net461" />
  <package id="RestSharp" version="106.6.10" targetFramework="net461" />
  <package id="SharpZipLib" version="1.2.0" targetFramework="net461" />
  <package id="SpecFlow" version="3.1.62" targetFramework="net461" />
  <package id="System.Configuration.ConfigurationManager" version="4.7.0" targetFramework="net461" />
  <package id="System.Data.SqlClient" version="4.8.0" targetFramework="net461" />
  <package id="System.Net.Http" version="4.3.4" targetFramework="net461" />
  <package id="System.Reflection.Emit" version="4.3.0" targetFramework="net461" />
  <package id="System.Reflection.Emit.Lightweight" version="4.3.0" targetFramework="net461" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.AccessControl" version="4.7.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.Permissions" version="4.7.0" targetFramework="net461" />
  <package id="System.Security.Principal.Windows" version="4.7.0" targetFramework="net461" />
  <package id="System.Threading.Tasks.Extensions" version="4.4.0" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.4.0" targetFramework="net461" />
  <package id="Utf8Json" version="1.3.7" targetFramework="net461" />
</packages>