<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>

    <!--SCAYLE -->
    <add key="SCAYLE.CustomerPassword" value="Harrods123" />
    <add key="SCAYLE.Url" value="https://hrd-stg.storefront.scayle.cloud/en-gb/basket" />
    <add key="SCAYLE.UserName" value="s-hrd-test" />
    <add key="SCAYLE.Password" value="20240405.KaftanKetoneAnkerAmpeln" />
    
    <add key="FF.CustomerPassword" value="Harrods123" />
    <!--<add key="FF.Url" value="https://www-harrodssandbox-ft10.blackandwhite-ff.com/" />-->
    <add key="FF.Url" value="https://www-harrodssandbox.blackandwhite-ff.com/en-gb/account/" />
    
    <!--<add key="FF.Url" value="https://www-harrodssandbox.blackandwhite-ff.com/en-gb/" />-->
    <!--<add key="FF.Url" value="https://www-harrodssandbox-ft06.blackandwhite-ff.com/en-in/" />-->
    <add key="FF.ProductUrl" value="https://www-harrodssandbox-ft06.blackandwhite-ff.com/en-gb/shopping/{productText}-{productId}" />
    <!--<add key="FF.ProductUrl" value="https://www-harrodssandbox-ft06.blackandwhite-ff.com/en-in/shopping/{productText}-{productId}" />-->
    <add key="FF.LiteVerifyUrl" value="https://www-harrodssandbox.blackandwhite-ff.com/subscribe-newsletter-confirmation?accounttype=guest&amp;subscriptions=liteVerification"/>
    <add key="FF.UserName" value="harrods" />
    <add key="FF.Password" value="LdUVKLf50JbDuYvlOKHe" />

    <add key="BB.Url" value="https://www-beautybookings.qa.harrods.com/account/login" />
    <add key="BB.BookingUrl" value="https://www-beautybookings.qa.harrods.com/book/availability?" />
    
    <add key="IDS.Url" value="https://designstudioqa.harrodsdns.com/" />
    <add key="IDS.UserName" value="KG920066" />
    <add key="IDS.Password" value="Karthik18" />
    
    <add key="CRM.Url" value="https://insight-ff-sit.harrodsdns.com" />
    <add key="CRM.UserName" value="CP131629" />
    <add key="CRM.Password" value="Re@d the world" />
    
    <add key="STORM.Url" value="https://storm.farfetch-apps.com/" />
    <add key="STORM.UserName" value="Chikku.Prasad" />
    <add key="STORM.Password" value="3xTyX4UW+4" />
    <add key="SAPWebEmulator.Url" value="http://wqsapr01.harrodsdns.com:1080/wd_rf_guns?" />

    <!--<add key="CDC.Url" value="https://harrods:LdUVKLf50JbDuYvlOKHe@console.gigya.com/#/31523398/4_JaJnTeqATQB4In1cOCVXag/dashboard/profiles/UserSearch" />
    --><!--<add key="CDC.UserName" value="Vishnu.Das@harrods.com" />
    <add key="CDC.Password" value="44weedScottlast" />--><!--
    <add key="CDC.UserName" value="santhosh.thekkeneetiath@harrods.com" />
    <add key="CDC.Password" value="Bijutn1980**" />-->

    <!--Generate this CDC password from https://pam.harrods.com/ -->
    <!--<add key="CDC.Url" value="https://harrods:LdUVKLf50JbDuYvlOKHe@console.gigya.com/#/31523398/4_JaJnTeqATQB4In1cOCVXag/dashboard/profiles/UserSearch" />-->
    
    <add key="CDC.Url" value="https://cdchsso.my.console.gigya.com/#/31523398/4_JaJnTeqATQB4In1cOCVXag/dashboard/profiles/user-details/uid/10550207" />
    
    <!--<add key="CDC.UserName" value="t-ah141585@harrods.com" />
    <add key="CDC.Password" value="Y\pIO81$sb" />-->
    <add key="CDC.UserName" value="t-aa164568@harrods.com" />
    <add key="CDC.Password" value="s~4u03Sl@I" />
    
    <add key="SSC.Url" value="https://my358604.crm.ondemand.com/" />
    <add key="SSC.UserName" value="NairAnusree" />
    <add key="SSC.Password" value="Harrods1234" />
    <add key="SSC.TicketAssignedTo" value="Anusree Nair" />

    <!--Generate this SMC password from https://pam.harrods.com/ -->
    <add key="SMC.Url" value="https://my307126.s4hana.ondemand.com/" />
    <add key="SMC.UserName" value="t-sr164452@harrods.com" />
    <add key="SMC.Password" value="O!4cwQx^5S" />
    <!--<add key="SMC.UserName" value="t-ah141585@harrods.com" />
    <add key="SMC.Password" value="4)c7?PG(tm" />-->
    <!--<add key="SMC.UserName" value="santhosh.thekkeneetiath@harrods.com" />
    <add key="SMC.Password" value="28wingSlopeheart" />-->

    <add key="AC.Url" value="https://admineu.socialannex.com/user/login" />
    <!--<add key="AC.UserName" value="Vishnu.Das@harrods.com" />
    <add key="AC.Password" value="44weedScottlast*" />-->
    <add key="AC.UserName" value="ajay.sundar@harrods.com" />
    <add key="AC.Password" value="Harrods54321%" />

    <add key="YopMailUrl.Url" value="https://yopmail.com/en/" />

    <add key="SAP.AllocUser" value="s-app-automa" />
    <add key="SAP.AllocUserPassword" value="H@rrods5" />
    <add key="SAP.Language" value="EN" />
    <add key="SAP.UserName" value="s-app-automa" />
    <add key="SAP.HQ4" value="LQSAPR01" />
    <add key="SAP.HQ4Client" value="500" />
    <add key="SAP.HQ4Password" value="H@rrods5" />
    <add key="SAP.CQ1" value="vcq1ap1.harrodsdns.com" />
    <add key="SAP.CQ1Client" value="500" />
    <add key="SAP.CQ1Password" value="CQ1h@rr0ds2" />
    <add key="SAP.EQ1" value="LQSAPE01" />
    <add key="SAP.EQ1Client" value="100" />
    <add key="SAP.EQ1Password" value="EQH@rrods2" />
     
    <add key="SCV.Url" value="https://harrods-cs.blackandwhite-ff.com/Customers" />
    <!--<add key="SCV.UserName" value="s-app-automation" />
    <add key="SCV.Password" value="P@ssw0rd" />-->
    <add key="SCV.UserName" value="prasidh.Ajayan" />
    <add key="SCV.Password" value="Pr@sidh01" />
    
    <add key="SAPSMC.Url" value="https://my307126.s4hana.ondemand.com/ui#Shell-home" />
    <add key="SAPSMC.Username" value="PA138202" />
    <add key="SAPSMC.LoginEmail" value="Prasidh.Ajayan@harrods.com" />
    <add key="SAPSMC.Password" value="F@ntailPige0ns" />
    
    <add key="Email.RegisteredAppName" value="Gmail API Quickstart" />
    <add key="Email.UserName" value="bolttesting2020@gmail.com" />
    <add key="Email.RegistrationFilter" value="Reg 1 verification" />

    <add key="Payment.CardNumber" value="" />
    <add key="Payment.ExpiryMonth" value="" />
    <add key="Payment.ExpiryYear" value="" />
    <add key="Payment.NameOnCard" value="" />
    <add key="Payment.CVV" value="" />
   <add key="excelName" value="TestDataAutomationPrac.xlsx" />
  </appSettings>
</configuration>
