<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Appium.WebDriver" version="3.0.0.2" targetFramework="net461" />
  <package id="BoDi" version="1.4.1" targetFramework="net461" />
  <package id="Castle.Core" version="4.4.0" targetFramework="net461" />
  <package id="Crc32C.NET" version="1.0.5.0" targetFramework="net461" />
  <package id="CsvHelper" version="12.2.1" targetFramework="net461" />
  <package id="Cucumber.Messages" version="6.0.1" targetFramework="net461" />
  <package id="DnsClient" version="1.2.0" targetFramework="net461" />
  <package id="DocumentFormat.OpenXml" version="2.8.1" targetFramework="net461" />
  <package id="DotNetSeleniumExtras.PageObjects" version="3.11.0" targetFramework="net461" />
  <package id="DotNetSeleniumExtras.PageObjects.Core" version="3.12.0" targetFramework="net461" />
  <package id="DotNetSeleniumExtras.WaitHelpers" version="3.11.0" targetFramework="net461" />
  <package id="Dynamics365.UIAutomation.Api" version="9.1.0.12013" targetFramework="net461" />
  <package id="Dynamitey" version="2.0.9.136" targetFramework="net461" />
  <package id="ExtentReports" version="4.0.3" targetFramework="net461" />
  <package id="Gherkin" version="6.0.0" targetFramework="net461" />
  <package id="Google.Apis" version="1.45.0" targetFramework="net461" />
  <package id="Google.Apis.Auth" version="1.45.0" targetFramework="net461" />
  <package id="Google.Apis.Core" version="1.45.0" targetFramework="net461" />
  <package id="Google.Apis.Gmail.v1" version="1.45.0.1950" targetFramework="net461" />
  <package id="Google.Protobuf" version="3.7.0" targetFramework="net461" />
  <package id="HtmlAgilityPack" version="1.11.23" targetFramework="net461" />
  <package id="log4net" version="2.0.8" targetFramework="net461" />
  <package id="Magick.NET-Q8-AnyCPU" version="7.9.0.1" targetFramework="net461" />
  <package id="MailKit" version="2.6.0" targetFramework="net461" />
  <package id="Microsoft.AspNet.Razor" version="3.2.7" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.7" targetFramework="net461" />
  <package id="Microsoft.CodeCoverage" version="16.4.0" targetFramework="net461" />
  <package id="Microsoft.CSharp" version="4.6.0" targetFramework="net461" />
  <package id="Microsoft.NET.Test.Sdk" version="16.4.0" targetFramework="net461" />
  <package id="Microsoft.NETCore.Platforms" version="1.1.0" targetFramework="net461" />
  <package id="Microsoft.TestPlatform.TestHost" version="17.3.2" targetFramework="net461" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net461" />
  <package id="Microsoft.Win32.Primitives" version="4.3.0" targetFramework="net461" />
  <package id="MimeKit" version="2.6.0" targetFramework="net461" />
  <package id="MimeTypesMap" version="1.0.8" targetFramework="net461" />
  <package id="MongoDB.Bson" version="2.9.3" targetFramework="net461" />
  <package id="MongoDB.Driver" version="2.9.3" targetFramework="net461" />
  <package id="MongoDB.Driver.Core" version="2.9.3" targetFramework="net461" />
  <package id="NETStandard.Library" version="1.6.1" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net461" />
  <package id="Noksa.WebDriver.ScreenshotsExtensions" version="0.1.5.3" targetFramework="net461" />
  <package id="NPOI" version="2.4.1" targetFramework="net461" />
  <package id="NuGet.Build" version="2.12.1" targetFramework="net461" />
  <package id="NuGet.CommandLine" version="5.3.1" targetFramework="net461" developmentDependency="true" />
  <package id="NUnit" version="3.12.0" targetFramework="net461" />
  <package id="NUnit.Allure" version="1.0.6.2" targetFramework="net461" />
  <package id="NUnit.Console" version="3.10.0" targetFramework="net461" />
  <package id="NUnit.ConsoleRunner" version="3.10.0" targetFramework="net461" />
  <package id="NUnit.Extension.NUnitProjectLoader" version="3.6.0" targetFramework="net461" />
  <package id="NUnit.Extension.NUnitV2Driver" version="3.8.0" targetFramework="net461" />
  <package id="NUnit.Extension.NUnitV2ResultWriter" version="3.6.0" targetFramework="net461" />
  <package id="NUnit.Extension.TeamCityEventListener" version="1.0.7" targetFramework="net461" />
  <package id="NUnit.Extension.VSProjectLoader" version="3.8.0" targetFramework="net461" />
  <package id="NUnit.Runners" version="3.10.0" targetFramework="net461" />
  <package id="NUnit3TestAdapter" version="3.15.1" targetFramework="net461" />
  <package id="Otp.NET" version="1.2.1" targetFramework="net461" />
  <package id="PactNet" version="2.5.2" targetFramework="net461" />
  <package id="PactNet.Windows" version="2.5.2" targetFramework="net461" />
  <package id="Portable.BouncyCastle" version="1.8.5" targetFramework="net461" />
  <package id="QaKit.FileComparer" version="1.0.2" targetFramework="net461" />
  <package id="RazorEngine" version="3.10.0" targetFramework="net461" />
  <package id="RestSharp" version="106.6.10" targetFramework="net461" />
  <package id="SAP.GUI.Scripting.net" version="1.0.0" targetFramework="net461" />
  <package id="Selenium.Support" version="3.141.0" targetFramework="net461" />
  <package id="Selenium.WebDriver" version="3.141.0" targetFramework="net461" />
  <package id="Selenium.WebDriver.GeckoDriver" version="0.26.0" targetFramework="net461" />
  <package id="Selenium.WebDriverBackedSelenium" version="3.141.0" targetFramework="net461" />
  <package id="SharpCompress" version="0.24.0" targetFramework="net461" />
  <package id="SharpZipLib" version="1.2.0" targetFramework="net461" />
  <package id="Snappy.NET" version="1.1.1.8" targetFramework="net461" />
  <package id="SpecFlow" version="3.1.62" targetFramework="net461" />
  <package id="SpecFlow.Assist.Dynamic" version="1.4.2" targetFramework="net461" />
  <package id="SpecFlow.NUnit" version="3.1.62" targetFramework="net461" />
  <package id="SpecFlow.Tools.MsBuild.Generation" version="3.1.62" targetFramework="net461" />
  <package id="SpecFlow3.Allure" version="3.0.225" targetFramework="net461" />
  <package id="SSH.NET" version="2020.0.2" targetFramework="net461" />
  <package id="System.AppContext" version="4.3.0" targetFramework="net461" />
  <package id="System.Buffers" version="4.5.0" targetFramework="net461" />
  <package id="System.CodeDom" version="4.6.0" targetFramework="net461" />
  <package id="System.Collections" version="4.3.0" targetFramework="net461" />
  <package id="System.Collections.Concurrent" version="4.3.0" targetFramework="net461" />
  <package id="System.Collections.Immutable" version="1.7.0" targetFramework="net461" />
  <package id="System.Configuration.ConfigurationManager" version="4.6.0" targetFramework="net461" />
  <package id="System.Console" version="4.3.0" targetFramework="net461" />
  <package id="System.Diagnostics.Debug" version="4.3.0" targetFramework="net461" />
  <package id="System.Diagnostics.Tools" version="4.3.0" targetFramework="net461" />
  <package id="System.Diagnostics.Tracing" version="4.3.0" targetFramework="net461" />
  <package id="System.Drawing.Common" version="4.7.0" targetFramework="net461" />
  <package id="System.Globalization" version="4.3.0" targetFramework="net461" />
  <package id="System.Globalization.Calendars" version="4.3.0" targetFramework="net461" />
  <package id="System.IO" version="4.3.0" targetFramework="net461" />
  <package id="System.IO.Compression" version="4.3.0" targetFramework="net461" />
  <package id="System.IO.Compression.ZipFile" version="4.3.0" targetFramework="net461" />
  <package id="System.IO.FileSystem" version="4.3.0" targetFramework="net461" />
  <package id="System.IO.FileSystem.Primitives" version="4.3.0" targetFramework="net461" />
  <package id="System.IO.Packaging" version="4.4.0" targetFramework="net461" />
  <package id="System.Linq" version="4.3.0" targetFramework="net461" />
  <package id="System.Linq.Expressions" version="4.3.0" targetFramework="net461" />
  <package id="System.Memory" version="4.5.3" targetFramework="net461" />
  <package id="System.Net.Http" version="4.3.4" targetFramework="net461" />
  <package id="System.Net.Primitives" version="4.3.0" targetFramework="net461" />
  <package id="System.Net.Sockets" version="4.3.0" targetFramework="net461" />
  <package id="System.Numerics.Vectors" version="4.4.0" targetFramework="net461" />
  <package id="System.ObjectModel" version="4.3.0" targetFramework="net461" />
  <package id="System.Reflection" version="4.3.0" targetFramework="net461" />
  <package id="System.Reflection.Emit" version="4.6.0" targetFramework="net461" />
  <package id="System.Reflection.Emit.Lightweight" version="4.6.0" targetFramework="net461" />
  <package id="System.Reflection.Extensions" version="4.3.0" targetFramework="net461" />
  <package id="System.Reflection.Primitives" version="4.3.0" targetFramework="net461" />
  <package id="System.Resources.ResourceManager" version="4.3.0" targetFramework="net461" />
  <package id="System.Runtime" version="4.3.0" targetFramework="net461" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.6.0" targetFramework="net461" />
  <package id="System.Runtime.Extensions" version="4.3.0" targetFramework="net461" />
  <package id="System.Runtime.Handles" version="4.3.0" targetFramework="net461" />
  <package id="System.Runtime.InteropServices" version="4.3.0" targetFramework="net461" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net461" />
  <package id="System.Runtime.Numerics" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.AccessControl" version="4.6.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.1" targetFramework="net461" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.2" targetFramework="net461" />
  <package id="System.Security.Permissions" version="4.6.0" targetFramework="net461" />
  <package id="System.Security.Principal" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.Principal.Windows" version="4.6.0" targetFramework="net461" />
  <package id="System.Text.Encoding" version="4.3.0" targetFramework="net461" />
  <package id="System.Text.Encoding.Extensions" version="4.3.0" targetFramework="net461" />
  <package id="System.Text.RegularExpressions" version="4.3.0" targetFramework="net461" />
  <package id="System.Threading" version="4.3.0" targetFramework="net461" />
  <package id="System.Threading.Tasks" version="4.3.0" targetFramework="net461" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.3" targetFramework="net461" />
  <package id="System.Threading.Timer" version="4.3.0" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net461" />
  <package id="System.Xml.ReaderWriter" version="4.3.0" targetFramework="net461" />
  <package id="System.Xml.XDocument" version="4.3.0" targetFramework="net461" />
  <package id="Utf8Json" version="1.3.7" targetFramework="net461" />
  <package id="XMLDiffPatch" version="1.0.8.28" targetFramework="net461" />
</packages>